<!DOCTYPE HTML>
<html>
<head>
    <title>Tasks</title>
</head>
<div>Список всех задач</div>
<body>
{{#tasks}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/tasks}}
</body>
</html>