<!DOCTYPE HTML>
<html>
<head>
    <title>All tasks</title>
</head>
<form method="get" action="main">
    <button type="submit">On main</button>
</form>
<div>Список всех задач</div>
<body>
{{#tasks}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/tasks}}
</body>
</html>