<html>
<head>
    <title>Tasks</title>
</head>
<body>
<form method="get" action="alltask">
    <button type="submit">All tasks</button>
</form>
<form method="get" action="findtask">
    <button type="submit">Find task</button>
</form>
<form method="get" action="addtaskButton">
    <button type="submit">Add task</button>
</form>
<div>
    <p>Developed by Pavel Dashkevich 375447255070@ya.ru</p>
</div>
</body>
</html>